<nav class="header-nav">
  <ul>
    Kristiyan Stoyanov &nbsp&nbsp
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" 
        {% if page.url == item.link %} 
        class="selected" 
        {% elsif item.link == "https://github.com/KrisKStoyanov" %}
        class = "external"
        {% elsif item.link == "https://www.linkedin.com/in/kristiyan-stoyanov-121651295/" %} 
        class = "external"
        {% else %}
        class="available" 
        {% endif %}
        >
       {{ item.name }}
        </a>
      </li>
    {% endfor %}      
  </ul>
</nav>